<a href="https://colab.research.google.com/github/guillaumeovf/CarLoanDefault/blob/main/Boat_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Boat price
#### Here is the script to get the data directly from kaggle through colab

!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle

# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder

# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json

# Datasets available here: 
# https://www.kaggle.com/datasets/artemkorottchenko/large-boatyacht-pricing-dataset
!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

#### End of the script to get the data directly from kaggle through colab
# Remember that when you run it, you have to click on the button Choose Files and 
# then select the kaggle.json file from your computer

Saving kaggle.json to kaggle.json
Downloading large-boatyacht-pricing-dataset.zip to /content
 80% 5.00M/6.22M [00:00<00:00, 15.6MB/s]
100% 6.22M/6.22M [00:00<00:00, 19.1MB/s]
Archive:  large-boatyacht-pricing-dataset.zip
  inflating: boat_dataset.csv

# Python as a programming language

In [ ]:
7+3
7-3
7*3
21/2
21//2 # floor division
21%2 # Modulo nufeornfoermi,esr,g
21**2
21**3
21**4

194481

In [ ]:
gg = 2
gg == 2

gg < 2

False

In [ ]:
beautiful_variable = 3
Beautiful_variable = 4
BEAUTIFUL_VARIABLE = 6
BeaUtIfUL_vaRiABLe = 6

In [ ]:
BeaUtIfUL_vaRiABLe == BEAUTIFUL_VARIABLE

True

In [ ]:
# Focus on list

cities = ['Paris', "Zurich", 'Rome', 'Berlin', 'London']

type(cities)

# Python is 0 based
cities[-3]

cities[2] = 'Milan'
print(cities)
cities.insert(2, 'HK')
print(cities)

cities.append('Rio')
print(cities)

cities.insert(-1, 'Nice')
print(cities)

cities.remove('Paris') # Remove function, will remove ONLY the first element to remove
print(cities)

cities.insert(2, 100)
print(cities)

cities.insert(7, '100')
print(cities)

cities.append('Berlin')

print(cities.index("Berlin"))

new_list = [1, 3, 5, 2]
new_list[1] = 33
cities = cities + new_list
print(cities)

['Paris', 'Zurich', 'Milan', 'Berlin', 'London']
['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London']
['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Rio']
['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Nice', 'Rio']
['Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Nice', 'Rio']
['Zurich', 'HK', 100, 'Milan', 'Berlin', 'London', 'Nice', 'Rio']
['Zurich', 'HK', 100, 'Milan', 'Berlin', 'London', 'Nice', '100', 'Rio']
4
['Zurich', 'HK', 100, 'Milan', 'Berlin', 'London', 'Nice', '100', 'Rio', 'Berlin', 1, 33, 5, 2]

In [ ]:
new_list = (1,3,4,5)
type(new_list)

tuple

In [ ]:
val = -2

if val > 0:
  print('The value is positive')

elif val <-10:
  print('Very low')

elif val < 0:
  print('The value is negative')

else:
  print('The value equals 0')

The value is negative

In [ ]:
val = 0

if val > 0:
  print('The value is positive')

elif val <-10:
  print('The value is negative')

elif val < 0:
  print('Very low')

In [ ]:
# Logical expressions for if:
# a == b: is a equal to b
# a != b: is a different from b
# a <= b: is a lower or equal than b
# a >= b: is a greater or equal than b
# a < b: is a strictly lower than b
# a > b: is a strictly greater than b
# a is b: is a the same object as b
# condition_a and condition_b: logical AND
# condition_a or condition_b: logical OR
# not: negation

In [ ]:
if 7 not in [0, 1, 2, 3, 4]:
  print('Indeed')

Indeed

In [ ]:
# for loop
fruits = ['apple', 'pear', 'cherry']
for i in fruits:
  print(i)

apple
pear
cherry

In [ ]:
list_of_list = [['a', 'b', 'c'], [1, 2, 3]]


for sub_list in list_of_list:
  print("We treat the list: ", sub_list)
  
  
  for element in sub_list:
    print('We display the element: ', element)

We treat the list:  ['a', 'b', 'c']
We display the element:  a
We display the element:  b
We display the element:  c
We treat the list:  [1, 2, 3]
We display the element:  1
We display the element:  2
We display the element:  3

In [ ]:
# Other kind of loop: while loop

In [ ]:
# Functions

def awesome_guillaume_function_to_calculate_area(a=3, b=None):
  '''
  Function in order to calculae the area of a rectangle

  Parameters:
  a: a represents the length
  b: b is None by default. However, it can takes those values : 'test1', 'test2'
  '''
  my_area = a+b

  return my_area

In [ ]:
area1 = awesome_guillaume_function_to_calculate_area(2, )
area1

TypeError: ignored

In [ ]:
# We will use it in order to delete all the element of a list having a particular value:
last_list = [0, 1, 2, 3, 4, 5, 888, 6, 7, 888, 8, 888, 9] # Let's delete all the 888

valueToBeRemoved = 888
last_list = [element for element in last_list if element != valueToBeRemoved]
last_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Data Manipulation in Python

In [12]:
import pandas as pd
import io
import numpy as np
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50
df = pd.read_csv('/content/boat_dataset.csv', encoding='latin1')

In [6]:
df.head() # Problem of encoding for some features

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,...,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Advertisement Date,Number of views last 7 days,Comments,Additional Comments,Equipment
0,"CHF 3.337,-",Power Boats,Motor Yacht,Rigiflex power boats,CAP 400,NaN,new boat from stock,2017.0,as new,4.00 m,...,NaN,NaN,NaN,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,NaN,226,NaN,Possibility to arrange it with a complete luxu...,NaN
1,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00 m,...,NaN,NaN,NaN,NaN,Germany Â» BÃ¶nningstedt,NaN,75,"In den Farben weiÃ oder grÃ¼n lieferbar.,,2 a...",NaN,NaN
2,"CHF 3.770,-",Power Boats,Sport Boat,Marine power boats,370 S - Aluboot,NaN,new boat from stock,NaN,NaN,3.69 m,...,NaN,NaN,NaN,NaN,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,NaN,124,NaN,The lightweight and sleek rowing boat for 4 pe...,NaN
3,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00 m,...,NaN,NaN,NaN,NaN,Denmark Â» Svendborg,NaN,64,"MORSOM OG LETKÃRT KVALITETSBÃ D!,Nye Pioner 1...",NaN,NaN
4,"SEK 35.000,-",Power Boats,Classic,NaN,Gullholmensnipa 21,NaN,Used boat,1974.0,good,6.30 m,...,NaN,500 h,NaN,NaN,Nordsee Â» VÃ¤stra FrÃ¶lunda,04.07.2020,131,NaN,NaN,"Anchor,Battery,Bilge Pump,Bilge pump,Cockpit C..."

In [13]:
df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")
df.head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,...,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Advertisement Date,Number of views last 7 days,Comments,Additional Comments,Equipment
0,"CHF 3.337,-",Power Boats,Motor Yacht,Rigiflex power boats,CAP 400,NaN,new boat from stock,2017.0,as new,4.00 m,...,NaN,NaN,NaN,NaN,Switzerland » Lake Geneva » Vésenaz,NaN,226,NaN,Possibility to arrange it with a complete luxu...,NaN
1,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00 m,...,NaN,NaN,NaN,NaN,Germany » Bönningstedt,NaN,75,"In den Farben weiß oder grün lieferbar.,,2 abs...",NaN,NaN
2,"CHF 3.770,-",Power Boats,Sport Boat,Marine power boats,370 S - Aluboot,NaN,new boat from stock,NaN,NaN,3.69 m,...,NaN,NaN,NaN,NaN,Switzerland » Lake of Zurich » Stäfa ZH,NaN,124,NaN,The lightweight and sleek rowing boat for 4 pe...,NaN
3,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00 m,...,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,64,"MORSOM OG LETKØRT KVALITETSBÅD!,Nye Pioner 10 ...",NaN,NaN
4,"SEK 35.000,-",Power Boats,Classic,NaN,Gullholmensnipa 21,NaN,Used boat,1974.0,good,6.30 m,...,NaN,500 h,NaN,NaN,Nordsee » Västra Frölunda,04.07.2020,131,NaN,NaN,"Anchor,Battery,Bilge Pump,Bilge pump,Cockpit C..."

In [14]:
## Add element in the database for EDUCATIONAL PURPOSE ONLY
# Add random date in order to do a proper temporal split
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')
#Here is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)


np.random.seed(893717398)
# Set parameters
d_start = pd.to_datetime('2020-01-01')
d_end = pd.to_datetime('2021-12-31')

# Delete initial Advertisement Date -> if you want to keep the inital dates, don't run it
df.drop(columns=['Advertisement Date'], inplace=True)

# Run function
df['Advertisement Date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))

# Keep the date and remove the time
df['Advertisement Date']= df['Advertisement Date'].dt.date

# Parse the date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')

# Impute Advertissement Date by the the created one when they are missing
#df['Advertisement Date'] = np.where(df['Advertisement Date'].isna(), df['date2'], df['Advertisement Date'])

# Delete the random date created
#df.drop(columns=['date2'], inplace=True)

# Create duplicates
temp = df.sample(n=500, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

In [18]:
df.sample(n=5, random_state=893717398)

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
1874,"EUR 100.185,-",Power Boats,Runabout,Yamarin power boats,88 DC,NaN,new boat from stock,2020.0,NaN,8.80 m,2.95 m,0.90 m,2350 kg,NaN,12.0,2.0,4.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » auf Anfrage,142,Condition: new,NaN,NaN,2020-12-02
10635,"EUR 175.000,-",Power Boats,Runabout,Boesch power boats,750 Portofino de Luxe,NaN,"Used boat,Unleaded",2003.0,very good,7.80 m,2.50 m,0.65 m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wood,NaN,NaN,Inboard with Shaft,Mercruiser,2 x 272 HP / 200 kW,NaN,Unleaded,NaN,NaN,NaN,Austria » Wörthersee » Boote Schmalzl,139,Perfekt serviciertes Boesch 750 Portofino de L...,NaN,NaN,2020-10-05
4724,"EUR 339.000,-",Power Boats,Hardtop,Cranchi power boats,M44HT,NaN,"Used boat,Diesel",2014.0,very good,13.82 m,4.06 m,0.96 m,10'900 kg,NaN,12.0,3.0,2.0,NaN,NaN,2.0,NaN,GRP,300 l,NaN,Inboard with Shaft,Volvo Penta 2xD6 EVC/E/DPH (2x330 HP) (2x243kW),2 x 330 HP / 243 kW,NaN,Diesel,NaN,NaN,NaN,"France » Frejus, Frankreich (Côte d’Azur)",206,NaN,"The boat is in top condition, little driven, a...","Anchor,Battery,Battery Charger,Board Computer,...",2021-12-27
4335,"EUR 480.000,-",Power Boats,Motor Yacht,Azimut power boats,55,NaN,Used boat,2009.0,good,17.00 m,4.75 m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2x Caterpillar, 2x710",NaN,NaN,NaN,NaN,NaN,NaN,Croatia (Hrvatska) » Croatia,57,"Year: 2009,Length: ...",NaN,NaN,2020-12-27
6087,"EUR 145.000,-",Power Boats,Trawler,Bénéteau power boats,SWIFT TRAWLER 42,NaN,"Used boat,Diesel",2004.0,NaN,13.60 m,4.17 m,1.15 m,NaN,NaN,NaN,2.0,6.0,NaN,NaN,NaN,NaN,PVC,NaN,NaN,NaN,YANMAR,2 x 370 HP / 272 kW,NaN,Diesel,NaN,NaN,NaN,"France » Deauville, France",118,NaN,NaN,NaN,2021-08-25