<a href="https://colab.research.google.com/github/guillaumeovf/CarLoanDefault/blob/main/Boat_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Boat price
#### Here is the script to get the data directly from kaggle through colab

!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle

# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder

# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json

# Datasets available here: 
# https://www.kaggle.com/datasets/artemkorottchenko/large-boatyacht-pricing-dataset
!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

#### End of the script to get the data directly from kaggle through colab
# Remember that when you run it, you have to click on the button Choose Files and 
# then select the kaggle.json file from your computer

Saving kaggle.json to kaggle.json
Downloading large-boatyacht-pricing-dataset.zip to /content
 80% 5.00M/6.22M [00:00<00:00, 25.1MB/s]
100% 6.22M/6.22M [00:00<00:00, 30.7MB/s]
Archive:  large-boatyacht-pricing-dataset.zip
  inflating: boat_dataset.csv

In [12]:
7+3
7-3
7*3
21/2
21//2 # floor division
21%2 # Modulo nufeornfoermi,esr,g
21**2
21**3
21**4

194481

In [22]:
gg = 2
gg == 2

gg < 2

False

In [27]:
beautiful_variable = 3
Beautiful_variable = 4
BEAUTIFUL_VARIABLE = 6
BeaUtIfUL_vaRiABLe = 6

In [28]:
BeaUtIfUL_vaRiABLe == BEAUTIFUL_VARIABLE

True

In [49]:
# Focus on list

cities = ['Paris', "Zurich", 'Rome', 'Berlin', 'London']

type(cities)

# Python is 0 based
cities[-3]

cities[2] = 'Milan'
print(cities)
cities.insert(2, 'HK')
print(cities)

cities.append('Rio')
print(cities)

cities.insert(-1, 'Nice')
print(cities)

cities.remove('Paris') # Remove function, will remove ONLY the first element to remove
print(cities)

cities.insert(2, 100)
print(cities)

cities.insert(7, '100')
print(cities)

cities.append('Berlin')

print(cities.index("Berlin"))

new_list = [1, 3, 5, 2]
new_list[1] = 33
cities = cities + new_list
print(cities)

['Paris', 'Zurich', 'Milan', 'Berlin', 'London']
['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London']
['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Rio']
['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Nice', 'Rio']
['Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Nice', 'Rio']
['Zurich', 'HK', 100, 'Milan', 'Berlin', 'London', 'Nice', 'Rio']
['Zurich', 'HK', 100, 'Milan', 'Berlin', 'London', 'Nice', '100', 'Rio']
4
['Zurich', 'HK', 100, 'Milan', 'Berlin', 'London', 'Nice', '100', 'Rio', 'Berlin', 1, 33, 5, 2]

In [50]:
new_list = (1,3,4,5)
type(new_list)

tuple

In [56]:
val = -2

if val > 0:
  print('The value is positive')

elif val <-10:
  print('Very low')

elif val < 0:
  print('The value is negative')

else:
  print('The value equals 0')

The value is negative

In [59]:
val = 0

if val > 0:
  print('The value is positive')

elif val <-10:
  print('The value is negative')

elif val < 0:
  print('Very low')

In [ ]:
# Logical expressions for if:
# a == b: is a equal to b
# a != b: is a different from b
# a <= b: is a lower or equal than b
# a >= b: is a greater or equal than b
# a < b: is a strictly lower than b
# a > b: is a strictly greater than b
# a is b: is a the same object as b
# condition_a and condition_b: logical AND
# condition_a or condition_b: logical OR
# not: negation

In [60]:
if 7 not in [0, 1, 2, 3, 4]:
  print('Indeed')

Indeed

In [69]:
# for loop
fruits = ['apple', 'pear', 'cherry']
for i in fruits:
  print(i)

apple
pear
cherry

In [70]:
list_of_list = [['a', 'b', 'c'], [1, 2, 3]]


for sub_list in list_of_list:
  print("We treat the list: ", sub_list)
  
  
  for element in sub_list:
    print('We display the element: ', element)

We treat the list:  ['a', 'b', 'c']
We display the element:  a
We display the element:  b
We display the element:  c
We treat the list:  [1, 2, 3]
We display the element:  1
We display the element:  2
We display the element:  3

In [ ]:
# Other kind of loop: while loop

In [81]:
# Functions

def awesome_guillaume_function_to_calculate_area(a=3, b=None):
  '''
  Function in order to calculae the area of a rectangle

  Parameters:
  a: a represents the length
  b: b is None by default. However, it can takes those values : 'test1', 'test2'
  '''
  my_area = a+b

  return my_area

In [82]:
area1 = awesome_guillaume_function_to_calculate_area(2, )
area1

TypeError: ignored

In [83]:
# We will use it in order to delete all the element of a list having a particular value:
last_list = [0, 1, 2, 3, 4, 5, 888, 6, 7, 888, 8, 888, 9] # Let's delete all the 888

valueToBeRemoved = 888
last_list = [element for element in last_list if element != valueToBeRemoved]
last_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]