<a href="https://colab.research.google.com/github/guillaumeovf/CarLoanDefault/blob/main/CarLoanDefault1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Test colab github

In [3]:
import pandas as pd

In [4]:
path = '/content/CarLoanDefault_data/train.csv'

In [5]:
train = pd.read_csv(path)

In [6]:
train.head()

   UNIQUEID  DISBURSED_AMOUNT  ...  NO_OF_INQUIRIES  LOAN_DEFAULT
0    420825             50578  ...              0.0           0.0
1    537409             47145  ...              0.0           1.0
2    417566             53278  ...              0.0           0.0
3    624493             57513  ...              1.0           1.0
4    539055             52378  ...              1.0           1.0

[5 rows x 41 columns]

/content

sample_data