<a href="https://colab.research.google.com/github/guillaumeovf/CarLoanDefault/blob/main/CarLoanDefault1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Test colab github

In [4]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip

In [16]:
import pandas as pd
df=pd.read_csv("/content/train.csv")
df.head()

   UNIQUEID  DISBURSED_AMOUNT  ...  NO_OF_INQUIRIES  LOAN_DEFAULT
0    420825             50578  ...                0             0
1    537409             47145  ...                0             1
2    417566             53278  ...                0             0
3    624493             57513  ...                1             1
4    539055             52378  ...                1             1

[5 rows x 41 columns]